<ion-header>
    <ion-navbar color="appColor" style="text-align: center; ">
        <ion-title>Team</ion-title>
    </ion-navbar>
    <!-- <p class="title" *ngIf="founderName !==''">{{ founderName }}</p> -->
</ion-header>


<ion-content padding class="main_color_body">
    <div class="founder-name" *ngIf="founderName !==''">{{ founderName }}</div>
    <!--insert the multiple list  -->
    <ion-list class="ionic_list_style">
      <ion-item class="ionic_style_item">
        <ion-avatar item-start class="image_section">
          <img  src="assets/imgs/founder_Juccce.jpg">
        </ion-avatar>
        <h2>Peggy</h2>
        <p>Bostan, MA</p>
        <p>Simple infomation</p>
        <button ion-button clear item-end>
          <ion-icon name="ios-arrow-forward" class="right-arrow"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <!-- End here the first list -->
    <!--insert the multiple list  -->
    <ion-list class="ionic_list_style">
      <ion-item class="ionic_style_item">
        <ion-avatar item-start class="image_section">
          <img src="assets/imgs/founder_OpenCity.jpg">
        </ion-avatar>
        <h2>Vitaly</h2>
        <p>Los Angeles, CA</p>
        <p>Simple infomation</p>
        <button ion-button clear item-end>
          <ion-icon name="ios-arrow-forward" class="right-arrow"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <!-- End here the first list -->
    <!--insert the multiple list  -->
    <ion-list class="ionic_list_style">
      <ion-item class="ionic_style_item">
        <ion-avatar item-start class="image_section">
          <img  src="assets/imgs/founder_ReviveCongo.jpg">
        </ion-avatar>
        <h2>Pamela</h2>
        <p>Los Angeles, CA</p>
        <p>Simple infomation</p>
        <button ion-button clear item-end>
          <ion-icon name="ios-arrow-forward" class="right-arrow"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <!-- End here the first list -->
    <!--insert the multiple list  -->
    <ion-list class="ionic_list_style">
      <ion-item class="ionic_style_item">
        <ion-avatar item-start class="image_section">
          <img src="assets/imgs/founder_SaveTheChildren.png">
        </ion-avatar>
        <h2>Pernille</h2>
        <p>Los Angeles, CA</p>
        <p>Simple infomation</p>
        <button ion-button clear item-end>
          <ion-icon name="ios-arrow-forward" class="right-arrow"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <!-- End here the first list -->
  </ion-content>
