page-forgot-password {
    .item-feilds{
        border-radius: 5px;
        margin: 10px 0;
        padding: 0 10px;
    }
    .register-btn{
        height: 3em;
        color: #ae0433;
        font-size: 18px;
        font-weight: 400;
        border-radius: 5px;
    }
}
