<ion-header>
  <ion-navbar color="appColor">
    <ion-title style="text-align: center;">Apply to become a BigHeart</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-color: #ae0433;">
  <ion-list>
    <ion-item no-padding class="item-feilds">
      <ion-label floating>First Name*</ion-label>
      <ion-input type="text" [(ngModel)]="fname"></ion-input>
    </ion-item>
    <ion-item no-padding class="item-feilds">
      <ion-label floating>Last Name*</ion-label>
      <ion-input type="text" [(ngModel)]="lname"></ion-input>
    </ion-item>  
    <ion-item no-padding class="item-feilds">
      <ion-label floating>Email*</ion-label>
      <ion-input type="text" [(ngModel)]="email" (ionBlur)="validateEmail(email)"></ion-input>
    </ion-item>
    <div class="textarea-div">
      <ion-row>
        <ion-label>Select the Charity(ies) you are engaged in*</ion-label>
      </ion-row>
      <ion-item no-padding (click)="gotoCharityPage()" *ngIf="!checkCharity || charities?.length == 0" class="item-feilds"> 
        <ion-label style="color: #999999;">Tap here to select <ion-icon name="arrow-forward" class="next-arrow"></ion-icon></ion-label>
      </ion-item>
      <ion-row *ngIf="charities?.length > 0">
          <ion-col col-10 no-padding>
            <ion-item no-padding class="item-feild-textarea">
                <ion-textarea [(ngModel)]="charities" readonly text-wrap class="text-area" (focus)="gotoCharityPage()"></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col col-2 no-padding (click)="gotoCharityPage()">
            <ion-item class="item-feild-arrow">
              <ion-label style="color: #999999;margin:20px 8px 20px 0;"><ion-icon name="arrow-forward" class="next-arrow"></ion-icon></ion-label>
            </ion-item>
          </ion-col>
      </ion-row>
    </div> 
    <div class="textarea-div">
      <ion-row>
        <ion-label>Select the Country you are mainly active in*</ion-label>
      </ion-row>
      <ion-row>
        <ion-item no-padding class="item-feilds">
          <ion-label>Tap here to select</ion-label>
          <ion-select interface="popover" [(ngModel)]="country">
            <ng-container *ngFor="let country of countries">
                <ion-option value="{{ country.code }}">{{ country.name }}</ion-option>
            </ng-container>        
          </ion-select>
        </ion-item>
      </ion-row>
    </div>    
    <ion-item no-padding class="item-feilds">
      <ion-label floating>Enter the City you are mainly active in*</ion-label>
      <ion-input type="text" [(ngModel)]="city"></ion-input>
    </ion-item>
    <div class="textarea-div">
      <ion-row>
        <p>Tell in a few words about yourself (max 40 char)*</p>
      </ion-row>
      <ion-row>
        <ion-textarea [(ngModel)]="fewAboutYourself" class="contact-inputs" maxlength="40"></ion-textarea>
      </ion-row>
    </div>
    <div class="textarea-div">
      <ion-row>
        <p>Tell in more details about yourself (max 500 char)*</p>
      </ion-row>
      <ion-row>
        <ion-textarea [(ngModel)]="moreAboutYourself" class="contact-inputs" maxlength="500"></ion-textarea>
      </ion-row>
    </div>
    <div class="textarea-div">
        <ion-row>
          <p class="upload-para">Upload image of yourself or take a picture</p>
          <ion-col col-7 class="profile-col">          
            <button ion-button small color="white" class="upload-btn" (click)="choosePicture()">Choose file</button>
            <button ion-button small color="white" class="upload-btn" (click)="tackPicture()">
                <ion-icon name="camera"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-3>
            <img [src]="profilePic" class="profile-pic" *ngIf="profilePic">
          </ion-col>
      </ion-row>
    </div>    
    <div class="textarea-div">
      <ion-row>
          <p class="upload-para">Upload up to 5 images or videos showing your cause(s)</p>
          <ion-col col-5 class="profile-col">
            <button ion-button small color="white" class="upload-btn" (click)="chooseMultiplePicture()">Choose files</button>
          </ion-col>
          <ion-col col-3>
            <img [src]="multiplePics" class="profile-pic" *ngIf="multiplePics">
          </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-card class="contacts-card">
        <p class="contacts-card-header">List up to 5 contacts that can tell us more about you</p>
        <ion-card-content class="contacts-card-content">
          <div class="contact-div">
            <ion-item>
              <ion-label>Contact name</ion-label>
              <ion-input type="text" [(ngModel)]="contactName1" class="contact-inputs"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Contact email</ion-label>
                <ion-input type="email" [(ngModel)]="contactEmail1" class="contact-inputs" (ionBlur)="validateEmail(contactEmail1)"></ion-input>
            </ion-item>
            <ion-row class="contact-row">
              <ion-label class="textarea-label">How have they been working with you</ion-label>
            </ion-row>
            <ion-row class="contact-row">
              <ion-textarea [(ngModel)]="contactDesc1" class="contact-inputs"></ion-textarea>
            </ion-row>
          </div>  
          <div class="contact-div">
            <ion-item>
              <ion-label>Contact name</ion-label>
              <ion-input type="text" [(ngModel)]="contactName2" class="contact-inputs"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Contact email</ion-label>
                <ion-input type="email" [(ngModel)]="contactEmail2" class="contact-inputs" (ionBlur)="validateEmail(contactEmail2)"></ion-input>
            </ion-item>
            <ion-row class="contact-row">
              <ion-label class="textarea-label">How have they been working with you</ion-label>
            </ion-row>
            <ion-row class="contact-row">
              <ion-textarea [(ngModel)]="contactDesc2" class="contact-inputs"></ion-textarea>
            </ion-row>
          </div> 
          <div class="contact-div">
            <ion-item>
              <ion-label>Contact name</ion-label>
              <ion-input type="text" [(ngModel)]="contactName3" class="contact-inputs"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Contact email</ion-label>
                <ion-input type="email" [(ngModel)]="contactEmail3" class="contact-inputs" (ionBlur)="validateEmail(contactEmail3)"></ion-input>
            </ion-item>
            <ion-row class="contact-row">
              <ion-label class="textarea-label">How have they been working with you</ion-label>
            </ion-row>
            <ion-row class="contact-row">
              <ion-textarea [(ngModel)]="contactDesc3" class="contact-inputs"></ion-textarea>
            </ion-row>
          </div> 
          <div class="contact-div">
            <ion-item>
              <ion-label>Contact name</ion-label>
              <ion-input type="text" [(ngModel)]="contactName4" class="contact-inputs"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Contact email</ion-label>
                <ion-input type="email" [(ngModel)]="contactEmail4" class="contact-inputs" (ionBlur)="validateEmail(contactEmail4)"></ion-input>
            </ion-item>
            <ion-row class="contact-row">
              <ion-label class="textarea-label">How have they been working with you</ion-label>
            </ion-row>
            <ion-row class="contact-row">
              <ion-textarea [(ngModel)]="contactDesc4" class="contact-inputs"></ion-textarea>
            </ion-row>
          </div> 
          <div class="contact-div">
            <ion-item>
              <ion-label>Contact name</ion-label>
              <ion-input type="text" [(ngModel)]="contactName5" class="contact-inputs"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Contact email</ion-label>
                <ion-input type="email" [(ngModel)]="contactEmail5" class="contact-inputs" (ionBlur)="validateEmail(contactEmail5)"></ion-input>
            </ion-item>
            <ion-row class="contact-row">
              <ion-label class="textarea-label">How have they been working with you</ion-label>
            </ion-row>
            <ion-row class="contact-row">
              <ion-textarea [(ngModel)]="contactDesc5" class="contact-inputs"></ion-textarea>
            </ion-row>
          </div>           
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-list>
  <button ion-button block color="white" class="register-btn" (click)="saveData()">Register</button>
</ion-content>
