page-cause-form {
    .item-feilds{
        color: #000000;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 0 10px;
    }
    .payment-item{
        padding-left: 0px;
    }
    .register-btn{
        height: 3em;
        border-radius: 5px;
        color: #ae0433;
    }
    .upload-para{
        font-size: 16px;
    }
    .upload-btn{
        border-radius: 5px;
        color: #000;
        background: #999;
    }
    .contacts-card{
        margin: 0px;
        width: 100%;
    }
    .contacts-card-content{
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact-row{
        padding: 0 16px;
    }
    .contact-div{
        border-bottom: 2px solid #ddd;
    }
    .contact-div:nth-child(5){
        border-bottom: 0px;
    }
    .contacts-card-header{
        color: #999999;
        margin: 15px 15px;
        font-size: 16px;
    }
    .contact-inputs{
        color: #000;
    }
    .textarea-div{
        background: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 0 10px;
        color: #999;
        font-size: 15px;
    }
    .profile-pic{
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }
    .profile-col{
        padding: 17px 0;
    }
    .textarea-label{
        color: #999999;
        font-size: 16px;
    }
    .next-arrow{
        float: right;
    }
}
