page-user-profile {
    .navbar-top{
        padding-bottom: 0px;
        min-height: 40px;
    }
    .profile-header{
        background-color: #ae0433;
        padding: 10px 0;
    }
    .profile-header img{ 
        border-radius: 50%;
        width: 70px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    p.second_title{
        text-align: center; 
        font-size: 15px; 
        color: #fff;
        margin: 10px 0px;
    }
    p.first_title{
        text-align: center; 
        font-size: 13px; 
        color: #fff;  
        text-decoration: underline;
        margin: 0 0 5px;
    }
    .body_section_color{
        background:#f7f7f7;
    }
    .heading_text { 
        float: left; 
        margin: 0px; 
        color:#ae0433;
    }
    .icon_menu_show{
        float: right; 
        color:#ae0433;
    }
    .icon_menu_arrow{
        float: right;  
        color:#ae0433;
    }
    .footer_new_menu p.footer_title{
        text-align: center;    
        font-size: 17px; 
        color: #fff;
        letter-spacing: 1px;
    }
    p.footer_footer {
        text-align: center;
    }
    p.footer_footer a{
        color: #8f8f8f; 
        text-decoration: underline;
    }
    p.last_footer{
        text-align: center; 
        color: #8f8f8f;
    }
    h4.text_show{
        color: #8f8f8f; 
        padding:0 10px;
    }
    .setting_width{
        margin: 0px; 
        width: 100%!important;
    }
}
