<ion-header>
    <ion-navbar color="appColor" hideBackButton>
        <ion-row>
            <ion-col col-4 class="menu-col" no-padding>
                <ion-buttons>
                    <button ion-button icon-only menuToggle class="menu-btn">
                        <ion-icon name="menu"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
            <ion-col col-4 class="heart-col" no-padding>
                <!-- <ion-icon name="heart-outline" class="heart-icon"></ion-icon> -->
                <div class="logo-div" style="background: url('assets/imgs/logo.png');"></div>
            </ion-col>
            <ion-col col-4 class="pay-col" no-padding>
                <span class="header-pay">Pay</span>
            </ion-col>
        </ion-row>
    </ion-navbar>
    <div class="upper-part">
        <span class="upper-text">{{ heloWish }} {{ name }}</span>
        <span class="upper-text">Your account balance is</span>
        <p class="balance-para">
            <ion-icon name="heart-outline" class="heart-balance"></ion-icon> 
            <ng-container *ngFor="let payment of latestPayments">
                <span class="balance" *ngIf="payment.id == 1">{{ payment.balance }}</span>
            </ng-container>
            
        </p>
        <span class="usd-balance">(0.00 USD)</span>
        <ion-toolbar color="appColor" class="payment-toolbar">
            <ion-segment [(ngModel)]="latestTabs" (click)="showTabs()">
                <ion-segment-button value="payments" class="payment-segments">
                    <span>Latest <span class="segment-span">Payments</span></span>
                </ion-segment-button>
                <ion-segment-button value="donations" class="payment-segments">
                    <span>Latest <span class="segment-span">Donations</span></span>
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>
    </div>
</ion-header>

<ion-content no-padding>
    <div class="bottom-part" [ngClass]="tabClass">
        <!-- switch case part -->
        <div [ngSwitch]="latestTabs">
            <div class="list-part" *ngSwitchCase="'donations'">
                <div class="donation-list" id="donation-list">
                    <ion-list *ngFor="let donation of latestDonations" class="donations-lists">
                        <ion-item class="donation-items">
                            <ion-avatar item-start class="ngo-avatar">
                                <img [src]="donation.ngo_founder_img" class="ngo-img" (click)="gotoProfilePage(donation.id)">
                            </ion-avatar>
                            <ion-row>
                                <ion-col col-6 no-padding>
                                    <h2 class="ngo-name">{{donation.ngo_founder}}</h2>
                                    <p class="ngo-date">{{donation.date}}</p>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;" no-padding>
                                    <p>
                                        <ion-icon name="heart-outline" class="heart-small-icon"></ion-icon> 
                                        <span class="heart-coin">{{donation.heart_amount}}</span> 
                                        <span class="heart-coin">(${{donation.us_amount}})</span>
                                    </p>
                                    <p class="play-para" (click)="playVideo()">
                                        <ion-icon name="play" class="play-icon"></ion-icon>
                                        <span>Thankyou Message</span>
                                    </p>
                                    <span  class="share-icon" (click)="shareInfo(donation.ngo_name, donation.ngo_founder_img, donation.ngo_founder, donation.ngo_desc)">
                                        <ion-icon name="share"></ion-icon>
                                    </span>
                                </ion-col>
                            </ion-row>                
                        </ion-item>
                    </ion-list>
                </div>                
            </div> 
            <div class="list-part" *ngSwitchCase="'payments'">
                <div class="donation-list" id="payment-list">
                    <ion-list *ngFor="let payment of latestPayments" class="payments-lists">
                        <ion-item class="donation-items">
                            <ion-row>
                                <ion-col col-6 no-padding>
                                    <h2 class="ngo-name">{{ payment.type }}</h2>
                                    <p class="ngo-date">{{ payment.date }}</p>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;" no-padding>
                                    <p>
                                        <ion-icon name="heart-outline" class="heart-small-icon"></ion-icon> 
                                        <span class="heart-coin">{{ payment.heart_amount }}</span> 
                                        <span class="heart-coin-dollor">(${{ payment.us_amount }})</span>
                                    </p>
                                    <p class="play-para">
                                        <ion-icon name="heart-outline" class="heart-small-icon"></ion-icon> 
                                        <span>{{ payment.balance }}</span>
                                    </p>
                                </ion-col>
                            </ion-row>                
                        </ion-item>
                    </ion-list>
                </div>                
            </div>
        </div>
    </div>    
</ion-content>
<ion-footer class="home-footer">
    <div class="view-all" (click)="viewAll()" id="view-all" *ngIf="latestTabs == 'donations' && showDonationBtn">
        <button ion-button color="appColor" small>View All</button>
    </div> 
    <div class="view-all" id="view-all-payments" *ngIf="latestTabs == 'payments' && showPaymentBtn" (click)="viewAllPayments()">
        <button ion-button color="appColor" small>View All</button>
    </div>  
    <ion-toolbar no-padding>       
        <div class="recomended-hearts">
            <p class="para-footer">Recommended BigHearts</p>
            <ion-slides loop="true" slidesPerView="3">
                <ng-container  *ngFor="let recommendHearts of recommendedBigHearts">
                    <ion-slide>
                        <div class="ngo-img-div" [style.backgroundImage]="'url('+recommendHearts.ngo_founder_img+')'"  (click)="gotoProfilePage(recommendHearts.id)"></div>                    
                        <p class="ngo-founder">{{ recommendHearts.ngo_founder}}</p> 
                    </ion-slide>
                </ng-container>
            </ion-slides>
            <ion-slides [loop]="charityLoop" [autoplay]="charityAutoplay" *ngIf="charities">
                <ng-container *ngFor="let charity of charities">
                    <ion-slide>
                        <p class="cat-text">{{ charity }}</p>
                    </ion-slide>
                </ng-container>
            </ion-slides>
        </div>
    </ion-toolbar>
</ion-footer>