<ion-header>
  <ion-navbar color="appColor" #navbar>
    <ion-title style="text-align: center;">Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="body-color" style="background-color: #ae0433;">
  <ion-list>
    <ion-item no-padding class="item-feilds">
      <ion-label floating>First Name*</ion-label>
      <ion-input type="text" [(ngModel)]="fname" placeholder="Enter First Name"></ion-input>
    </ion-item>
    <ion-item no-padding class="item-feilds">
      <ion-label floating>Last Name*</ion-label>
      <ion-input type="text" [(ngModel)]="lname" placeholder="Enter Last Name"></ion-input>
    </ion-item>
    <ion-item no-padding style="display: none;">
      <ion-label>
        Select country
      </ion-label>
      <ion-select interface="popover" [(ngModel)]="dial_code" (ionChange)="countryCodeChange()" #selectCountry>
        <ng-container *ngFor="let country of all_countries">
          <ion-option [value]="country.dial_code">{{ country.name }}</ion-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <div class="textarea-div">
      <ion-row>
        <ion-label>Phone<span *ngIf="verification_type == 'mobileno'">*</span></ion-label>
      </ion-row>
      <ion-row>
        <ion-col col-2 (click)="openCountry()" style="color: #000000;">
          <ion-label>{{ '+'+dial_code }}</ion-label>
        </ion-col>
        <ion-col col-10 style="color: #000000;">
          <ion-input type="number" [(ngModel)]="mobileno" placeholder="Enter Phone Number"
            (ionBlur)="sendVerificationCode()"></ion-input>
        </ion-col>
      </ion-row>
    </div>
    <div class="textarea-div" *ngIf="phone_verifciation_code">
      <ion-row>
        <p>To update your phone number please enter the verification code</p>
      </ion-row>
      <ion-item class="item-feilds" style="padding-left: 0px;">
        <ion-input type="number" [(ngModel)]="phone_code" placeholder="Enter Verification Code"></ion-input>
      </ion-item>
    </div>
    <ion-item no-padding class="item-feilds">
      <ion-label floating>Email<span *ngIf="verification_type == 'email'">*</span></ion-label>
      <ion-input type="email" [(ngModel)]="email" placeholder="Enter Email" (ionBlur)="sendVerificationEmail()">
      </ion-input>
    </ion-item>
    <div class="textarea-div" *ngIf="email_verification_code">
      <ion-row>
        <p>To update your email please enter the verification code</p>
      </ion-row>
      <ion-item class="item-feilds" style="padding-left: 0px;">
        <ion-input type="number" [(ngModel)]="email_code" placeholder="Enter Verification Code"></ion-input>
      </ion-item>
    </div>
    <ion-item no-padding class="item-feilds">
      <ion-label>
        Tap here to select country
      </ion-label>
      <ion-select interface="popover" [(ngModel)]="country">
        <ng-container *ngFor="let country of all_countries">
          <ion-option [value]="country.id">{{ country.name }}</ion-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <ion-item no-padding class="item-feilds">
      <ion-label>
        Tap here to select region
      </ion-label>
      <ion-select interface="popover" [(ngModel)]="region">
        <ng-container *ngFor="let region of all_regions">
          <ion-option [value]="region.id">{{ region.name }}</ion-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <div class="textarea-div">
      <ion-row>
        <p>How much do you want to donate each month?</p>
      </ion-row>
      <ion-row>
        <div class="gauge-div">
          <nga-ng2-gauge [max]="max" [input]="donation_amount" [sectors]="sectors" [size]="200" [showDigital]="true">
          </nga-ng2-gauge>
        </div>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <button ion-button small (click)="decrementDonation()" [disabled]="disableMinusBtn" color="appColor">
            <ion-icon name="remove"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 text-center>
          <!-- <span class="range-val">{{ '$'+toLocaleString(donation_amount) }}</span>&nbsp;
            <span class="hc-val">({{ toLocaleString(donation_amount * 100) }} HC)</span> -->
        </ion-col>
        <ion-col text-right col-2>
          <button ion-button small (click)="incrementDonation()" [disabled]="disablePlusBtn" color="appColor">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>
    <div class="textarea-div">
      <ion-row>
        <p>How much you want to donate to causes (0-90%) and to HeartGlobal (10-100%)</p>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label><span class="range-val">Cause(s) {{ '('+cause_percentage+'%)' }}</span></ion-label>
        </ion-col>
        <ion-col>
          <ion-label text-right><span class="range-val">HeartGlobal ({{ 100-cause_percentage }}%)</span></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <div class="gauge-div">
          <nga-ng2-gauge [max]="90" [input]="cause_percentage" [sectors]="sectors_1" [size]="200" [showDigital]="true">
          </nga-ng2-gauge>
        </div>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button small (click)="decrementCause()" [disabled]="disableCauseMinusBtn" color="appColor">
            <ion-icon name="remove"></ion-icon>
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button small (click)="incrementCause()" [disabled]="disableCausePlusBtn" color="appColor">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>
    <ion-item no-padding (click)="gotoCharityPage()" *ngIf="!checkCharity || charities?.length == 0"
      class="item-feilds">
      <ion-label style="color: #999999;">Select charity areas <ion-icon name="arrow-forward" class="next-arrow">
        </ion-icon>
      </ion-label>
    </ion-item>
    <ion-row *ngIf="charities?.length > 0">
      <div class="selected-charity-div">
        <span>Selected causes</span>
      </div>
      <ion-col col-10 no-padding>
        <ion-item no-padding class="item-feild-textarea">
          <ion-textarea [(ngModel)]="charities" readonly text-wrap class="text-area" (ionFocus)="gotoCharityPage()">
          </ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col col-2 no-padding (click)="gotoCharityPage()">
        <ion-item class="item-feild-arrow">
          <ion-label style="color: #999999;margin:20px 8px 20px 0;">
            <ion-icon name="arrow-forward" class="next-arrow"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="textarea-div">
      <ion-row>
        <p class="upload-para">Upload image of yourself or take a picture</p>
        <ion-col col-7 class="profile-col">
          <button ion-button small color="white" class="upload-btn" (click)="choosePicture()">Choose file</button>
          <button ion-button small color="white" class="upload-btn" (click)="tackPicture()">
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-3>
          <img [src]="profile_pic_src" class="profile-pic" *ngIf="profile_pic_src">
        </ion-col>
      </ion-row>
    </div>
    <div class="textarea-div">
      <ion-row style="padding: 20px 10px 0px;color: #333;">
        <h4>Change Password</h4>
      </ion-row>
      <ion-item no-padding class="item-feilds">
        <ion-label floating>Current Password</ion-label>
        <ion-input type="password" [(ngModel)]="current_password">
        </ion-input>
      </ion-item>
      <ion-item no-padding class="item-feilds">
        <ion-label floating>New Password</ion-label>
        <ion-input type="password" [(ngModel)]="new_password">
        </ion-input>
      </ion-item>
      <ion-item no-padding class="item-feilds">
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirm_password">
        </ion-input>
      </ion-item>
      <ion-row style="padding:10px;">
        <button ion-button small color="appColor" (click)="changePassword()">Update Password</button>
      </ion-row>
    </div>
    <div class="textarea-div">
      <ion-row style="padding:10px;">
        <button ion-button small color="appColor" (click)="cardDetailPage()">Card details</button>
      </ion-row>
    </div>
  </ion-list>
  <!-- <button ion-button block color="white" class="register-btn" (click)="updateUserData()">Save</button> -->
</ion-content>