
<ion-header>
  <ion-navbar color="appColor" class="profile-nav" #navbar>
      <ion-row>
          <ion-col col-3 offset-4  class="heart-col" no-padding>
              <!-- <ion-icon name="heart-outline" class="heart-icon"></ion-icon> -->
              <div class="logo-div" style="background: url('assets/imgs/logo.png');"></div>
          </ion-col>
      </ion-row>
  </ion-navbar>
</ion-header>


<ion-content no-padding style="background-color:#ae0433;">
  <div class="charity-div">
      <p>My all BigHearts</p>
  </div>
  <ion-list class="list-height">
    <ng-container *ngFor="let bh of all_ngo">
      <ion-item class="payment-item">
        <ion-avatar item-start style="background: #48414130;border-radius: 50%;border: 1px solid #48414130;z-index: 1;"
          (click)="viewBHProfile(bh.user_id)">
          <img [src]="bh.bh_founder_img_url" [alt]="bh.bh_name">
        </ion-avatar>
        <ion-label (click)="viewBHProfile(bh.user_id)" style="z-index: 1;">{{ bh.bh_founder_name+'
          ('+bh.bh_name+')' }}</ion-label>
        <ion-checkbox [(ngModel)]="bh.checked" (click)="getCurrentSelectedNgoId(bh.user_id, bh.checked);" item-end></ion-checkbox>
      </ion-item>
    </ng-container>
  </ion-list>
  <!-- <div class="save-btn" *ngIf="all_ngo.length > 0">
      <button ion-button color="light" block (click)="saveUserBigheart()">Save</button>
  </div> -->
</ion-content>
