page-user-bighearts {
    .logo-div{
        background-position: center!important;
        height: 60px;
        width: 60px;
        margin-left: auto;
        background-size: cover!important;
        margin-right: auto;
        display: block;        
    }
    .charities-list{
        background-color:#ae0433;
        color: #fff;
        border: none !important;
    }
    .charities-list .item-inner{
        border-bottom: none !important;
    }
    .charity-div p{
        text-align: center;
        color: #fff;
        font-size: 18px;
    }
    .save-btn{
        margin: 0 5%;
    }
    .save-btn button{
        margin-left: auto;
        margin-right: auto;
        display: block;
        color: #ae0433;
        height: 3em;
        border-radius: 5px;
        font-size: 16px;
    }

    @media (min-width: 1024px) and (max-width: 1366px) {
        ion-avatar img.bh-image{
           width: 60px;
           height: 60px;
       }
    }
}
