<ion-header>
  <ion-navbar color="appColor">
    <ion-title style="text-align: center;">Apply to become a Volunteer</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-color: #ae0433;">
    <ion-list>
      <ion-item no-padding class="item-feilds">
        <ion-label floating>First Name*</ion-label>
        <ion-input type="text" [(ngModel)]="fname"></ion-input>
      </ion-item>
      <ion-item no-padding class="item-feilds">
        <ion-label floating>Last Name*</ion-label>
        <ion-input type="text" [(ngModel)]="lname"></ion-input>
      </ion-item>
      <ion-item no-padding class="item-feilds">
        <ion-label floating>Email*</ion-label>
        <ion-input type="email" [(ngModel)]="email" (ionBlur)="validateEmail(email)"></ion-input>
      </ion-item>
      <div class="textarea-div">
          <ion-row>
            <ion-label>Select the Charity(ies) you are engaged in*</ion-label>
          </ion-row>
          <ion-item no-padding (click)="gotoCharityPage()" *ngIf="!checkCharity || charities?.length == 0" class="item-feilds"> 
            <ion-label style="color: #999999;">Tap here to select <ion-icon name="arrow-forward" class="next-arrow"></ion-icon></ion-label>       
          </ion-item>
          <ion-row *ngIf="charities?.length > 0">
              <ion-col col-10 no-padding>
                <ion-item no-padding class="item-feild-textarea">
                    <ion-textarea [(ngModel)]="charities" readonly text-wrap class="text-area" (focus)="gotoCharityPage()"></ion-textarea>
                </ion-item>
              </ion-col>
              <ion-col col-2 no-padding (click)="gotoCharityPage()">
                <ion-item class="item-feild-arrow">
                  <ion-label style="color: #999999;margin:20px 8px 20px 0;"><ion-icon name="arrow-forward" class="next-arrow"></ion-icon></ion-label>
                </ion-item>
              </ion-col>
          </ion-row>
      </div>
      <div class="textarea-div">
        <ion-row>
          <p>Enter the location you're interested volunteering in*</p>
        </ion-row>
        <ion-row>
          <ion-textarea [(ngModel)]="volunteerLocation" class="contact-inputs"></ion-textarea>
        </ion-row>
      </div>
      <div class="textarea-div">
        <ion-row>
          <p>Tell in a few words about yourself (max 40 char)*</p>
        </ion-row>
        <ion-row>
          <ion-textarea [(ngModel)]="fewAboutYourself" class="contact-inputs" maxlength="40"></ion-textarea>
        </ion-row>
      </div>
      <div class="textarea-div">
        <ion-row>
          <p>Tell in more details about yourself (max 500 char)*</p>
        </ion-row>
        <ion-row>
          <ion-textarea [(ngModel)]="moreAboutYourself" class="contact-inputs" maxlength="500"></ion-textarea>
        </ion-row>
      </div>
      <div class="textarea-div">
        <ion-row>
            <p class="upload-para">Upload an image of yourself or take a picture</p>
            <ion-col col-6 class="profile-col">              
              <button ion-button small color="white" class="upload-btn" (click)="uploadPicture()">Choose file</button>
              <button ion-button small color="white" class="upload-btn" (click)="takePicture()">
                  <ion-icon name="camera"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-3>
              <img [src]="profilePic" *ngIf="profilePic" class="profile-pic">
            </ion-col>
        </ion-row>
      </div>
      <ion-row>
          <ion-card class="contacts-card">
            <p class="contacts-card-header">List up to 5 contacts that can us more about you</p>
            <ion-card-content class="contacts-card-content">
              <div class="contact-div">
                <ion-item class="contact-item">
                  <ion-label>Contact name</ion-label>
                  <ion-input type="text" class="contact-inputs" [(ngModel)]="contactName1"></ion-input>
                </ion-item>
                <ion-item class="contact-item">
                    <ion-label>Contact email</ion-label>
                    <ion-input type="email" class="contact-inputs" [(ngModel)]="contactEmail1" (ionBlur)="validateEmail(contactEmail1)"></ion-input>
                </ion-item>
                <ion-row class="contact-row">
                  <ion-label class="textarea-label">How have they been working with you</ion-label>
                </ion-row>
                <ion-row class="contact-row">
                  <ion-textarea class="contact-inputs" [(ngModel)]="contactDesc1"></ion-textarea>
                </ion-row>
              </div>  
              <div class="contact-div">
                <ion-item class="contact-item">
                  <ion-label>Contact name</ion-label>
                  <ion-input type="text" class="contact-inputs" [(ngModel)]="contactName2"></ion-input>
                </ion-item>
                <ion-item class="contact-item">
                    <ion-label>Contact email</ion-label>
                    <ion-input type="email" class="contact-inputs" [(ngModel)]="contactEmail2" (ionBlur)="validateEmail(contactEmail2)"></ion-input>
                </ion-item>
                <ion-row class="contact-row">
                  <ion-label class="textarea-label">How have they been working with you</ion-label>
                </ion-row>
                <ion-row class="contact-row">
                  <ion-textarea class="contact-inputs" [(ngModel)]="contactDesc2"></ion-textarea>
                </ion-row>
              </div> 
              <div class="contact-div">
                <ion-item class="contact-item">
                  <ion-label>Contact name</ion-label>
                  <ion-input type="text" class="contact-inputs" [(ngModel)]="contactName3"></ion-input>
                </ion-item>
                <ion-item class="contact-item">
                    <ion-label>Contact email</ion-label>
                    <ion-input type="email" class="contact-inputs" [(ngModel)]="contactEmail3" (ionBlur)="validateEmail(contactEmail3)"></ion-input>
                </ion-item>
                <ion-row class="contact-row">
                  <ion-label class="textarea-label">How have they been working with you</ion-label>
                </ion-row>
                <ion-row class="contact-row">
                  <ion-textarea class="contact-inputs" [(ngModel)]="contactDesc3"></ion-textarea>
                </ion-row>
              </div> 
              <div class="contact-div">
                <ion-item class="contact-item">
                  <ion-label>Contact name</ion-label>
                  <ion-input type="text" class="contact-inputs" [(ngModel)]="contactName4"></ion-input>
                </ion-item>
                <ion-item class="contact-item">
                    <ion-label>Contact email</ion-label>
                    <ion-input type="email" class="contact-inputs" [(ngModel)]="contactEmail4" (ionBlur)="validateEmail(contactEmail4)"></ion-input>
                </ion-item>
                <ion-row class="contact-row">
                  <ion-label class="textarea-label">How have they been working with you</ion-label>
                </ion-row>
                <ion-row class="contact-row">
                  <ion-textarea class="contact-inputs" [(ngModel)]="contactDesc4"></ion-textarea>
                </ion-row>
              </div> 
              <div class="contact-div">
                <ion-item class="contact-item">
                  <ion-label>Contact name</ion-label>
                  <ion-input type="text" class="contact-inputs" [(ngModel)]="contactName5"></ion-input>
                </ion-item>
                <ion-item class="contact-item">
                    <ion-label>Contact email</ion-label>
                    <ion-input type="email" class="contact-inputs" [(ngModel)]="contactEmail5" (ionBlur)="validateEmail(contactEmail5)"></ion-input>
                </ion-item>
                <ion-row class="contact-row">
                  <ion-label class="textarea-label">How have they been working with you</ion-label>
                </ion-row>
                <ion-row class="contact-row">
                  <ion-textarea class="contact-inputs" [(ngModel)]="contactDesc5"></ion-textarea>
                </ion-row>
              </div>           
            </ion-card-content>
          </ion-card>
        </ion-row>
    </ion-list>
    <button ion-button block color="white" class="save-btn" (click)="saveData()">Save</button>
  </ion-content>
