<ion-header>
  <ion-navbar color="appColor">
    <ion-title style="text-align: center;">Verify Code</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="body-color">
  <ng-container *ngIf="sendSMS">
      <p class="para">We've sent an activation code to your phone <b>+{{country+' '+mobileno}}</b> and email</p>
      <ion-item class="input-item">
        <ion-input type="number" placeholder="Code" [(ngModel)]="code" (ionChange)="checkCode(code)"></ion-input>
      </ion-item>
  </ng-container>  
  <ng-container *ngIf="!sendSMS">
      <p class="para">We've sent an email with an activation code to your email <b>{{ email }}</b>.</p>
      <ion-item class="input-item">
        <ion-input type="number" placeholder="Code" [(ngModel)]="code" (ionChange)="checkCode(code)"></ion-input>
      </ion-item>
  </ng-container>
  <ion-row class="btn-row">
    <ion-col class="btn-col" style="text-align: right;">
        <button ion-button color="light" block class="resend-btn" (click)="resendVerificationCode()">Resend</button>
    </ion-col>
    <ion-col class="btn-col">
        <button ion-button color="light" block class="next-btn" (click)="checkVerifyCode(code)" [disabled]="btnDisable">Next</button>
    </ion-col>
  </ion-row>
</ion-content>
