page-verifycode {
    .btn-div{
        margin-top: 50px;
    }
    .btn-div button{
        margin-left: auto; 
        margin-right: auto; 
        display: block; 
        color: #ae0433;
    }
    .body-color{
        background-color: #ae0433;
    }
    .para{
        color: #fff;
    }
    .input-item{
        border-radius: 8px;
    }
}
