page-charities {
    .logo-div{
        background-position: center!important;
        height: 60px;
        width: 60px;
        margin-left: auto;
        background-size: cover!important;
        margin-right: auto;
        display: block;        
    }
}
